/* @import url("https://use.typekit.net/dqg7rnn.css"); */
@import url("https://use.typekit.net/dqg7rnn.css");
@import url("https://use.typekit.net/dqg7rnn.css");

/* links */
a {
  color: #32CBFF;
}

a:hover {
  color: #A0EADE;
}



/* text */
body {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: mixta-sharp, serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: black;
}
h1, h2 {
  text-shadow: 1px 4px 6px #101935;
}

h1 {
  font-size: 300%;
}
h2 {
  font-size: 250%;
}
h3 {
  font-size: 200%;
}
h4 {
  font-size: 150%;
}

button {
  background-color: #9C7178;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 1rem;
  display: flex;
  justify-content: center;
}

/* navigation bar */
.topnav {
  overflow: hidden;
  display: flex;
  justify-content: right;

}

.topnav a {
  color: #000000;
  text-decoration: none;
  text-align: center;
  padding: 0.9rem 1rem;
  font-size: 1rem;
}

.topnav a:hover {
  background-color:#FFFFFF;
  transition: background-color 1s ease-out 0.15s;
  border-radius: 15px 70px 30px;
}

.topnav a:hover {
  color: #101935;
  font-weight:800;
}

@media screen and (max-width: 400px) {
  .topnav {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .topnav a {
      color: #000000;
      }
}

/*Homepage intro */
.intro h1 {
  font-size: 8rem;
}
.intro {
  justify-content: center;
  align-content: space-between;
  display: flex;
  padding-top:75px;
}

.intro-text {
  font-size: 1.3rem;
  display: flex;
  overflow: visible;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 1em 1em 1em;

}

.intro img {
  width: 100%;
  max-width:500px;
}

@media screen and (max-width: 400px) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro h1 {
    font-size: 5rem;
  }

  .intro img {
    width: 100%;
  }

}

@media screen and (max-width: 400px) {
  .intro-text {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    white-space: normal;
    overflow: visible;
    padding: 0rem 0rem 0rem 1rem;
  }
}

/* weird icons and horizontal bars */
hr {
  width: 50%;
  height: 5px;
  background-color: #9C7178;
  border-style: none;
}

br {
  height:500px
}

/*background gradients */
.homepage {
  background-image:
    linear-gradient(
      to left,
      #101935, #ffffff 60%
    );
}
.art {
  background-image:
    linear-gradient(
      to left,
      #9C7178, #ffffff 60%
      );
}
.about {
  background-image:
    linear-gradient(
      to left,
      #35605A, #ffffff 60%
      );
}
.projects {
  background-image:
    linear-gradient(
      to left,
      #101935, #ffffff 60%
      );
}
.contact {
  background-image:
    linear-gradient(
      to left,
      #9C7178, #ffffff 60%
      );
}

.assignment {
  background-image:
    linear-gradient(
      to left,
      #9C7178, #ffffff 60%
      );
}

#finalProject {
  background-image:
  linear-gradient(
    to right,
    #ffffff, #ffffff 99%
    );
}
}

/* Art gallery*/
.myprocess {
  display: block;
  justify-content: center;
  margin: 50px;
  padding: 10px;
}

#artDesc {
  margin: 16px 10px 16px 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.column {
  flex: 25%;
  max-width: 25%;
}

.column img {
  vertical-align: middle;
  width: 100%;
}

.art h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.art img {
  filter: opacity(50%);
}

.art img:hover {
  filter: opacity(100%);
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .art:hover, .art:active {
      filter: opacity(100%);
  }
}

/* About */
.about-container {
  display: flex;
  flex-direction: row;
  padding: 0 4px;
}

.column2 {
  display: flex;
  flex: 1;
  padding-left: 1rem;
  flex-grow:1;
  justify-content: center;
  align-items: center;
}

.column2 img {
  width: 600px;
  height: auto

}

@media screen and (max-width: 1300px) {
  .column2 img {
    width: 400px;
    height: auto
  }
}

@media screen and (max-width: 1000px) {
  .column2 img {
    width: 300px;
    height: auto
  }
}

.column3 {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items:center;
  justify-content: center
}

.column3 p {
  justify-content: center;
  justify-items: center;
  padding: 1rem 8rem 7rem 8rem;
  line-height: 2rem;
  flex-wrap: wrap;
  flex-grow:2
}

@media screen and (max-width: 400px) {
  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }
  .column2 img {
    width: 15rem;
  }
  .column3 p {
    text-align: center;
    padding: 0rem 1rem 1rem 1rem;
  }
}

/* Projects */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.container p {
  color: #101935;
  padding-bottom: 1rem;
}

.item {
  background-image:
    linear-gradient(
      to right,
      #35605A, #ffffff 60%
      );
  box-shadow: -1rem 0 3rem #101935;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem 0rem 0rem;
  margin: 1rem 15rem 0rem 15rem;
  text-decoration: none
}

.item:hover {
  background-image:
    linear-gradient(
      to left,
      #35605A, #ffffff 60%
      );
  box-shadow: -1rem 0 3rem #ffffff;
}

.container h3:hover {
  color: #35605A
}

.container a:visited {
  color: #9c7178
}

@media screen and (max-width: 400px) {
  .container {
    display: flex;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 4rem 2rem 4rem;
    color: black;
  }
  .item {
    display: flex;
    margin: 3rem 0rem 0rem 0rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image:
      linear-gradient(
        to left,
        #ffffff, #ffffff 60%);
  }
  .item p {
    padding: 10px 10px 10px 10px  ;
  }
}

/* Contact */
.contact-container {
  //make fixed
  display: fixed;
  background-color: #ffffff;
  align-content: center;
  justify-content: center;
  margin: 8rem;
  padding: 32px 64px 32px 64px;
  box-shadow: -1rem 0 3rem #9C7178;
  border-radius: 25px;
  color: black;
}

.contact-container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact-item1 {
  padding: 16px;
}

.contact-item2 {
  padding: 16px;
}

.contact-item2 {
  padding: 16px;
}

@media screen and (max-width: 400px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8rem 1rem 0rem 1rem;
    padding: 2rem 4rem 2rem 4rem;
    color: black;
  }

  .contact-container2 {
    display: flex;
    flex-direction: column;
  }
}

/* Drum Kit */


.kit{
    display: flex;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.drum {
    width: 200px;
    height: 200px;
    background: #9C7178 ;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 5px;
}

.kit img {
  max-width: 75px;
}

/*Drum kit border stuff */
.borderTransform{
  transform: scale(1.25);
  border: 6px solid #35605A;
}

.kit div h2 {
  font-weight: 700;
  font-size: 30px;
}

.kit div h3 {
  font-size: 19px;
}

.kit img {
  max-width: 100px;
}

@media screen and (max-width: 400px) {
  .kit {
      display: flex;
      width: 100%;
      height: 400px;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
  }
}
