/* @import url("https://use.typekit.net/dqg7rnn.css"); */
@import url("https://use.typekit.net/dqg7rnn.css");
@import url("https://use.typekit.net/dqg7rnn.css");

/* links */
a {
  color: #35605A;
}

a:hover {
  color: #101935;
}

/* text */
body {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: mixta-sharp, serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: black;
}

/* navigation bar */

.topnav {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: right;

}

.topnav a {
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  padding: 0.9rem 1rem;
  font-size: 1rem;
}

.topnav a:hover {
  background-color:#FFFFFF;
  border-radius: 15px 70px 30px;
  color: #101935;
  font-weight:600;
}

.intro h1 {
  font-size: 8rem;
}
.intro {
  justify-content: center;
  align-content: space-between;
  display: flex;
  padding-top:75px;
}

.intro-text {
  display: flex;
  overflow: visible;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 1em 1em 1em;

}

.intro img {
  width: 100%;
  max-width:500px;
}

/* weird icons and horizontal bars */
hr {
  width: 50%;
  height: 5px;
  background-color: #9C7178;
  border-style: none;
}

br {
  height:500px
}

/*background gradients */


.homepage {
  background-image:
    linear-gradient(
      to left,
      #101935, #ffffff 60%
    );
}

.art {
  background-image:
    linear-gradient(
      to left,
      #9C7178, #ffffff 60%
      );
}

.music {
  background-image:
    linear-gradient(
      to left,
      #35605A, #ffffff 60%
      );
}

.contact {
  background-image:
    radial-gradient(
      #35605A, #101935
      );
}


.row img {
  margin-top: 20px;
  vertical-align: middle;
  width: 100%;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .column {
    width: 100%;
  }
}


/*media queries - mobile */
@media screen and (max-width: 400px) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro h1 {
    font-size: 5rem;
  }

  .intro img {
    width: 100%;
    float: right;
  }

}

@media screen and (max-width: 400px) {
  .intro-text {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    white-space: normal;
    text-wrap: wrap;
    overflow: visible;
    padding: 0rem 0rem 0rem 1rem;
  }
}

@media screen and (max-width: 400px) {
  .topnav {
    overflow: hidden;
    display: flex;
    justify-content: right;
    width: 100%;
    padding: 0rem 0rem 0rem 1rem;
  }

  .topnav a {
      color: #000000;
      }

}
